{% extends "base.html" %}
{% block pagename %}
{% endblock %}
{% block data %}
    <div class="container">
        <div class="jumbotron">
            <h1>About Sortify</h1>
            <p>Sortify is an algorithm that is programmed using Pyhton and HTML.
                It helps rearrange the order of songs in a spotify playlist based on the songs audio features.
                We use machine learning to better sort your playlists and to create a better user experience.
                When using sortify, the user will input the playlist that they want to be sorted, and the algorithm will quickly sort it and ask the user for a new name for the playlist.
                Then the user can go to spotify and see their new organized playlist!
                Sortify is still very new, and we would really appreciate it if you would share this website with others!

                </p>

        </div>
         <img src="http://www.macsome.com/guide/images/spotify.jpg" />
    </div>
{% endblock %}