{% extends "base.html" %}
{% block pagename %}
    <h1>Sortify</h1>
{% endblock %}
{% block data %}
    <div class="inner cover">
        <p class="lead">Spotify is great, but it has one major flaw, randomizing playlists.  Random sorting can create some
        jarring transitions.  Sortfiy uses machine learning and optimizations to create a smoother sorted playlist.</p>
        <p class="lead">
            <a href="{{ url_for('login') }}" class="btn btn-lg btn-default">Lets Go</a>
        </p>
    </div>
{% endblock %}